* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h4,
h5 {
  font-family: "Shrikhand", cursive;
}
.purple-button {
  padding: 15px 15px 15px 15px;
  border-radius: 999px;
  background: rgb(255, 121, 218);
  background: linear-gradient(180deg, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%);
  color: white;
  text-decoration: none;
  -webkit-box-shadow: 0px 5px 15px -5px #000000;
  box-shadow: 0px 5px 15px -5px #000000;
  text-align: center;
  margin-top: 15px;
}
#container {
  max-width: 700px;
  margin: auto;
  position: relative;
  #loader_overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: white;
    z-index: 500;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 150px;
    animation: fade-out 1s linear 2s both;
    @-webkit-keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        height: 0px;
      }
    }
    @keyframes fade-out {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        height: 0px;
      }
    }
    .loader {
      border: 16px solid #f3f3f3;
      border-top: 16px solid #99e2d0;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 3s ease-in-out 0.1s forwards;
      justify-content: center;
      align-items: center;
      display: flex;
      position: absolute;
      animation-iteration-count: 1;
      z-index: 550;
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
        opacity: 1;
      }
      100% {
        transform: rotate(360deg);
        opacity: 0;  
      }
    }
  }
  header {
    #logo_wrapper1 {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 5px;
      img {
        width: 70%;
      }
      
    }
    
    #logo_wrapper {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 5px;
      .arrow {
        width: 15%;
        color: #000000;
        font-size: 1.3em;
        margin-left: 15px;
      }
      img {
        width: 50%;
      }
      .filler {
        width: 5%;
        margin-right: 20px;
      }
    }
    // header for restaurant pages
    .head_pic2 {
      position: relative;
      img {
        object-fit: cover;
        width: 100%;
        max-height: 400px;
      }
    }
    #adresse {
      font-weight: bold;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: rgb(235, 233, 233);
      -webkit-box-shadow: inset 0px 1px 15px -7px #000000;
      box-shadow: inset 0px 1px 15px -7px #000000;
      i {
        margin-right: 10px;
      }
    }
    #header_description {
      background-color: rgb(245, 243, 243);
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 50px;
      div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
      }
      #bold {
        font-weight: bold;
        font-size: 150%;
      }
    }
  }

  #content {
    .slide-in-bottom {
      animation: slide-in-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .slide-in-bottom2 {
      animation: slide-in-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms both;
    }
    .slide-in-bottom3 {
      animation: slide-in-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms both;
    }
    .slide-in-bottom4 {
      animation: slide-in-bottom 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms both; 
    }

    @keyframes slide-in-bottom {
      0% {
        transform: translateY(1000px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    #menu {
      background-color: white;
      border-radius: 50px 50px 0 0;
      padding-top: 20px;
      position: relative;
      z-index: 100;
      margin-top: -50px;
      .title-restau {
        font-weight: 1200;
        font-size: 1.5em;
        text-decoration: none;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        font-family: "Shrikhand", cursive;

        .fa-heart {
          font-weight: normal;
          &:hover {
          }
        }
      }
      .menu-item {
        margin-left: 38px;
        margin-bottom: 10px;
        margin-top: 40px;
      }
      #small_underline {
        border-bottom: 3px solid rgb(145, 245, 228);
        width: 40px;
        margin-bottom: 20px;
        margin-top: 5px;
      }
      .dish-element {
        margin: 0 30px 10px 30px;
        -webkit-box-shadow: 0px 5px 15px -5px #000000;
        box-shadow: 0px 5px 15px -5px #000000;
        border-radius: 20px;
        position: relative;
        width: calc(100% - 60px);
        z-index: 10;
        overflow: hidden;
        background-color: rgb(247, 247, 247);
        &:hover .dish-wrapper{
          cursor: pointer;
          width: calc(100% - 110px);
        }
        &:hover .fa-check-circle{
          transform: rotate(360deg);
        }
        &:hover .check{
          transform: translateX(-50px);
        }
        .check{
          background-color:aquamarine;
          height: 100%;
          width: 110px;
          position: absolute;
          right: -10%;
          top: 0;
          z-index: -10;
          border-radius: 0 20px 20px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 2rem;
          transition: transform .3s;
          .fa-check-circle {
            transition: 0.5s;
          }
        }
        .dish-wrapper{
          position: relative;
          border-radius: 20px 0 0 20px;
          padding: 10px 15px;
          width: calc(100% - 30px);
          top: 0;
          left: 0;
          z-index: 9;
          background-color: white;
          transition-duration: .3s;
          &:hover {

          }
          .dish-name {
            font-size: 1.2rem;
            font-weight: bold;
          }
          .details-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            flex-grow: 1;
            .dish-details {
              font-size: 0.9rem;
            }
            .dish-price {
              font-weight: bold;
            }
          }
        }
      }
      #button_wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }
    }
    #fonctionnement {
      h3 {
        font-weight: 1200;
        font-size: 1.5em;
        text-decoration: none;
        padding: 20px;
        margin-top: 50px;
      }
      .element {
        font-weight: bold;
        border-radius: 20px;
        padding: 10px 15px;
        background-color: rgb(247, 247, 247);
        margin: 0 30px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        -webkit-box-shadow: 0px 5px 15px -5px #000000;
        box-shadow: 0px 5px 15px -5px #000000;
        &:active {
          background-color: #ebdafa;
          cursor: pointer;
        }
        &:hover {
          background-color: #ebdafa;
          cursor: pointer;
          i {
            color: #9356dc;
          }
        }
        .chip {
          width: 20px;
          height: 20px;
          background-color: #9356dc;
          border-radius: 999px;
          padding: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          margin-left: -26px;
          font-size: 0.9rem;
        }
        i {
          color: grey;
          padding: 15px;
        }
      }
    }
    #restaurants {
      background-color: rgb(238, 238, 238);
      padding: 20px;
      font-weight: bold;
      font-size: 1.5em;
      margin-top: 25px;
      padding-bottom: 40px;
      h3 {
        margin-bottom: 15px;
        font-weight: bolder;
      }
    }
  }
}
.restaurant-block {
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
 
  img {
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    width: 100%;
    height: 150px;
  }
  .new {
    background-color: #99e2d0;
    color: #008766;
    border-radius: 2px;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    width: 60px;
    text-align: center;
  }
  .image-description {
    padding-left: 15px;
    color: black;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 15px 15px;
    .favorite-wrapper{
      position: relative;
      margin-right: 10px;
      height: 19.2px;
      width: 19.2px;
      i {
        .fa-heartnohover {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 100;
        }
        .fa-hearthover {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 150;
        }
        &:hover {
          filter: hue-rotate(-30deg);
        }
      }
    }
    span {
      margin: 15px 15px 15px 0px;

      font-size: 1.2rem;
      text-decoration: none;
    
      .location {
        font-weight: normal;
      }
    }
  }
 }
  footer {
    background-color: #363636;
    padding-bottom: 25px;
    .footer-elem {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 25px;
      color: white;
      margin-bottom: 7px;
      &:first-of-type {
        margin-bottom: 25px;
      }
      .icon-wrapper {
        //margin-right: 10px;
        width: 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .fa-utensils .fa-handshake {
          color: white;
          margin-right: 5px;
        }
      }
      img {
        width: 30%;
        margin-bottom: 5px;
        margin-top: 25px;
      }
    }
  }

